.title
{
    font-weight: 600;
    letter-spacing: 1px;
    color: blueviolet;
}

.container
{
    max-width: 1050px;
    margin-inline: auto;
    padding: 2rem 1rem;
}

.btn
{
    background-color:black;
    color: white;
    padding: 0.4rem 0.8rem;
    border:none;
    outline:none;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all 0.2s ease;
    font-size:0.7rem;
    text-align: center;
}

.btn:hover
{
    filter: sepia(100%);
    filter: drop-shadow(4px 2px 4px lightgreen);

}