.menuButton
{
display: none;
}


.mobileLink
{
    position: absolute;
    top: 80px;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    width: 40%;
    background-color:blanchedalmond;
    padding: 2rem;
    z-index: 10;
}

@media screen and (max-width:650px) {
    .menuButton
    {
        display: block;
        cursor: pointer;
    }

}


@media screen and (max-width:500px) {
    .mobileLink
    {
        padding: 1rem;
    }

}