.cardimg
{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.blogcard
{
    text-align: left;
    z-index: 2;
}

.wrapper
{
    position: relative;
}

.blogcontent
{
    padding: 0.8rem 0.6rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blogcontent a
{
    font-size: 0.9rem;
    color: white;
}

.blogcontent h4
{
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;

}