/* Google Font Family Rajdhani  */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rajdhani , calibri;
}

body
{
    background-color:#FFF;
}


p
{
    font-weight: 500;
    color: dimgray;
}

li
{
    list-style: none;
    font-weight: 500;
}

a
{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
}

.container
{
    max-width:1050px;
    margin-inline:auto;
    padding: 2rem 1rem;
}

.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.loadingtext
{
    text-align: center;
    font-weight: 500;
    color:crimson;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.go-to-home
{
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}

.home-content
{
    background-color: violet;
    padding: 1rem;
    text-align: center;
}

.home-content h2
{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-content p
{
    letter-spacing: 1px;
    text-transform: capitalize;
}

.qoute-box
{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.child-box
{
    background-color: #fff;
    color: black;
    text-align: left;
    padding: 2rem 1rem;
}




