@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arya;
}

body
{
    background-color:#FFF;
}


p
{
    font-weight: 500;
    color: dimgray;
}

li
{
    list-style: none;
    font-weight: 500;
}

a
{
    text-decoration: none;
    font-weight: 500;
    color:black;
    letter-spacing: 1px;
}

.btn
{
    background-color: black;
    letter-spacing: 1px;
    border: none;
    outline:none;
    padding: 0.4rem 0.8rem;
    border-radius:2px;
    filter: drop-shadow(4px 2px 4px lightgreen);
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    margin-top:1rem;

}

.container
{
    max-width:1050px;
    margin-inline:auto;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.loadingtext
{
    text-align: center;
    font-weight: 500;
    color:crimson;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.go-to-home
{
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}

.home-content
{
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.home-content h2
{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-content p
{
    letter-spacing: 1px;
    text-transform: capitalize;
}

.qoute-box
{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

.child-box
{
    color: white;
    text-align: left;
    padding: 2rem;
    background-color: blueviolet;
}




