.blogcontainer
{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 1rem;
}


.gridcontainer
{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}


@media screen and (max-width:700px) {
    .gridcontainer
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:500px) {
    .gridcontainer
    {
        grid-template-columns: 1fr;
    }
    
}

